[submodule "ispc"]
	path = External/src/ispc
	url = https://github.com/netwarm007/ispc.git
[submodule "llvm"]
	path = External/src/llvm
	url = http://llvm.org/git/llvm
[submodule "clang"]
	path = External/src/clang
	url = http://llvm.org/git/clang
[submodule "libpng"]
	path = External/src/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "zlib"]
	path = External/src/zlib
	url = https://github.com/netwarm007/zlib.git
[submodule "opengex"]
	path = External/src/opengex
	url = https://github.com/netwarm007/OpenGEX.git
[submodule "crossguid"]
	path = External/src/crossguid
	url = https://github.com/netwarm007/crossguid
[submodule "bullet"]
	path = External/src/bullet
	url = https://github.com/netwarm007/bullet3.git
[submodule "libcxx"]
	path = External/src/libcxx
	url = http://llvm.org/git/libcxx
[submodule "libcxxabi"]
	path = External/src/libcxxabi
	url = http://llvm.org/git/libcxxabi
[submodule "External/src/libcrc"]
	path = External/src/libcrc
	url = https://github.com/lammertb/libcrc.git
[submodule "glslangValidator"]
	path = External/src/glslangValidator
	url = https://github.com/KhronosGroup/glslang
