# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.cpp text
*.h text
*.hpp text
*.ispc text
*.txt text
*.ogex text
# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.vcproj text eol=crlf
*.vcproj.filters text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf
*.nuspec text eol=crlf
*.targets text eol=crlf
*.appxmanifest text eol=crlf
*.rc text eol=crlf
*.bat text eol=crlf
*.ps1 text eol=crlf
# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.exe filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.gxt filter=lfs diff=lfs merge=lfs -text
*.gnf filter=lfs diff=lfs merge=lfs -text
*.ppm filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.eap filter=lfs diff=lfs merge=lfs -text
*.ldb filter=lfs diff=lfs merge=lfs -text
External/Linux/bin filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
External/Darwin/bin/ filter=lfs diff=lfs merge=lfs -text
External/Darwin/lib/ filter=lfs diff=lfs merge=lfs -text
External/Linux/lib filter=lfs diff=lfs merge=lfs -text
