[submodule "ispc"]
	path = External/src/ispc
	url = https://github.com/netwarm007/ispc.git
[submodule "llvm"]
	path = External/src/llvm
	url = https://github.com/llvm/llvm-project.git
[submodule "libpng"]
	path = External/src/libpng
	url = git://git.code.sf.net/p/libpng/code
[submodule "zlib"]
	path = External/src/zlib
	url = https://github.com/netwarm007/zlib.git
[submodule "opengex"]
	path = External/src/opengex
	url = https://github.com/netwarm007/OpenGEX.git
[submodule "crossguid"]
	path = External/src/crossguid
	url = https://github.com/netwarm007/crossguid
[submodule "bullet"]
	path = External/src/bullet
	url = https://github.com/netwarm007/bullet3.git
[submodule "libcrc"]
	path = External/src/libcrc
	url = https://github.com/lammertb/libcrc.git
[submodule "cmft"]
	path = External/src/cmft
	url = https://github.com/netwarm007/cmft.git
[submodule "SPIRV-Cross"]
	path = External/src/spirv-cross
	url = https://github.com/netwarm007/SPIRV-Cross.git
[submodule "glslang"]
	path = External/src/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "cef"]
	path = External/src/cef
	url = https://github.com/netwarm007/cef.git
[submodule "emsdk"]
	path = External/src/emsdk
	url = https://github.com/netwarm007/emsdk.git
[submodule "SDL"]
	path = External/src/SDL
	url = https://github.com/netwarm007/SDL.git
[submodule "bison"]
	path = External/src/bison
	url = https://github.com/netwarm007/bison.git
[submodule "imguid"]
	path = External/src/imgui
	url = https://github.com/ocornut/imgui.git
